<%- include ('partials/header') -%>
<section class="content bg">
        <div class="container">
                <h3 class="text-white text-shadow"><%= name%> - Druglane POS Server</h3>
                <b class="text-white"> <span id="version"></span> </b>
                <div class="alert alert-info">
                        <i class="fa fa-info"> </i> The server address is : http://<%= host%>:<%= port%>
                </div>
                <div class="alert alert-info">
                        <i class="fa fa-info"> </i> Automatic backups are done once everyday.
                        <b>Select the time for the backups: </b>
                        <select id="backup_time" name="backup_time">
                                <option <%= backup_time == 'off' ? 'selected' : '' %> value="off">Turn off autobackup</option>

                                <option <%= backup_time == 0 ? 'selected' : '' %> value="0">12 AM</option>
                                <option <%= backup_time == 1 ? 'selected' : '' %> value="1">1 AM</option>
                                <option <%= backup_time == 2 ? 'selected' : '' %> value="2">2 AM</option>
                                <option <%= backup_time == 3 ? 'selected' : '' %> value="3">3 AM</option>
                                <option <%= backup_time == 4 ? 'selected' : '' %> value="4">4 AM</option>
                                <option <%= backup_time == 5 ? 'selected' : '' %> value="5">5 AM</option>
                                <option <%= backup_time == 6 ? 'selected' : '' %> value="6">6 AM</option>
                                <option <%= backup_time == 7 ? 'selected' : '' %> value="7">7 AM</option>
                                <option <%= backup_time == 8 ? 'selected' : '' %> value="8">8 AM</option>
                                <option <%= backup_time == 9 ? 'selected' : '' %> value="9">9 AM</option>
                                <option <%= backup_time == 10 ? 'selected' : '' %> value="10">10 AM</option>
                                <option <%= backup_time == 11 ? 'selected' : '' %> value="11">11 AM</option>
                                <option <%= backup_time == 12 ? 'selected' : '' %> value="12">12 PM</option>
                                <option <%= backup_time == 13 ? 'selected' : '' %> value="13">1 PM</option>
                                <option <%= backup_time == 14 ? 'selected' : '' %> value="14">2 PM</option>
                                <option <%= backup_time == 15 ? 'selected' : '' %> value="15">3 PM</option>
                                <option <%= backup_time == 16 ? 'selected' : '' %> value="16">4 PM</option>
                                <option <%= backup_time == 17 ? 'selected' : '' %> value="17">5 PM</option>
                                <option <%= backup_time == 18 ? 'selected' : '' %> value="18">6 PM</option>
                                <option <%= backup_time == 19 ? 'selected' : '' %> value="19">7 PM</option>
                                <option <%= backup_time == 20 ? 'selected' : '' %> value="20">8 PM</option>
                                <option <%= backup_time == 21 ? 'selected' : '' %> value="21">9 PM</option>
                                <option <%= backup_time == 22 ? 'selected' : '' %> value="22">10 PM</option>
                                <option <%= backup_time == 23 ? 'selected' : '' %> value="23">11 PM</option>
                        </select>
                        <button id="save_auto_backup_time_btn" class="btn btn-sm btn-primary">Save</button>
                        <br>

                        You can also manually
                        create a backup any time you want by using the tabs below.
                </div>
                <div class="alert alert-info">
                        <i class="fa fa-info"> </i> To open the client (main POS) on another device, open a
                        browser on that device, and in the address bar, type http://<%= host%>:<%= port%>/client and
                        press 'Enter'.
                        You would need a username and password created on this server to be able to login on that device
                </div>
                <%
          if(message != ""){
      %>
                <div class="alert alert-info">
                        <%= message %>
                </div>
                <% } 
        if(logged_in){ %>

                Logged in as Administrator. <a href="logout" class="btn btn-danger">Log Out</a> 
                <a href="update_password" class="btn btn-white">Update Admin Password</a>
                <%  }
      else{ %>

                <a href="login" class="btn btn-white">Login As Administrator</a>
                <% }
      %>

                <a href="http://127.0.0.1:<%= port%>/client" target="_blank" class="btn btn-white">Go To Main
                        System</a>
                <hr>


                <!-- <div class="alert alert-success starthidden" id="backup_alert">

        </div> -->
                <div class="alert alert-success alert-dismissible fade show starthidden" id="backup_alert" role="alert">


                </div>
                <br>
                <div class="row ">


                        <div class="col-md-4">
                                <a class="link" id="start_backup">
                                        <div class="card card-body dashboard-card">
                                                <div class=" text-center">
                                                        <!-- <i class="fa fa-list fa-3x"></i> -->
                                                        <img src="images/002-backup.png" height="75" alt="png">
                                                        <div class="dashboard-text">
                                                                Backup Your Database Now
                                                                <!-- This view gives you the individual subject scores, overall score and
                                position of each student for the selected term/academic year -->
                                                        </div>


                                                </div>
                                        </div>
                                </a>
                        </div>

                        <div class="col-md-4">
                                <a href="restoreBackup">

                                        <div class="card card-body dashboard-card">
                                                <div class=" text-center">
                                                        <!-- <i class="fa fa-list fa-3x"></i> -->
                                                        <img src="images/001-sync.png" height="75" alt="png">
                                                        <div class="dashboard-text">
                                                                Restore Data From A Backup
                                                                <% if(!logged_in){ %>
                                                                <br>
                                                                <i class="fa fa-lock"></i> Login Required
                                                                <%  }     %>


                                                        </div>

                                                </div>
                                        </div>
                                </a>
                        </div>

                        <div class="col-md-4">

                                <a href="settings" target="_blank">

                                        <div class="card card-body dashboard-card">
                                                <div class=" text-center">
                                                        <!-- <i class="fa fa-list fa-3x"></i> -->
                                                        <img src="images/007-adjust.png" height="75" alt="png">
                                                        <div class="dashboard-text">
                                                                Edit/View System Settings
                                                                <% if(!logged_in){ %>
                                                                <br>
                                                                <i class="fa fa-lock"></i> Login Required
                                                                <%  }     %>
                                                        </div>

                                                </div>
                                        </div>
                                </a>
                        </div>

                        <div class="col-md-4">

                                <a href="users">

                                        <div class="card card-body dashboard-card">
                                                <div class=" text-center">
                                                        <!-- <i class="fa fa-list fa-3x"></i> -->
                                                        <img src="images/012-connection-1.png" height="75" alt="png">
                                                        <div class="dashboard-text">
                                                                Add/Edit/View Users
                                                                <% if(!logged_in){ %>
                                                                <br>
                                                                <i class="fa fa-lock"></i> Login Required
                                                                <%  }     %>
                                                        </div>

                                                </div>
                                        </div>
                                </a>
                        </div>

                        <div class="col-md-4">

                                <a href="roles">

                                        <div class="card card-body dashboard-card">
                                                <div class=" text-center">
                                                        <!-- <i class="fa fa-list fa-3x"></i> -->
                                                        <img src="images/011-blueprint.png" height="75" alt="png">
                                                        <div class="dashboard-text">
                                                                Add/Edit/View User Permissions
                                                                <% if(!logged_in){ %>
                                                                <br>
                                                                <i class="fa fa-lock"></i> Login Required
                                                                <%  }     %>
                                                        </div>

                                                </div>
                                        </div>
                                </a>
                        </div>

                        <div class="col-md-4">

                                <a class="link" id="start_sync">

                                        <div class="card card-body dashboard-card">
                                                <div class=" text-center">
                                                        <!-- <i class="fa fa-list fa-3x"></i> -->
                                                        <img src="images/003-backup-1.png" height="75" alt="png">
                                                        <div class="dashboard-text">
                                                                Sync Database

                                                        </div>

                                                </div>
                                        </div>
                                </a>
                        </div>

                </div>
        </div>

        <div id="notification" class="hidden">
                <p id="message"></p>
                <button id="close-button" onClick="closeNotification()">
                        Close
                </button>
                <button id="restart-button" onClick="restartApp()" class="hidden">
                        Restart
                </button>
        </div>
</section>

<!-- <script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script> -->
<%- include ('partials/footer') -%>

<script>
        //code for sending archive command to main
        const { ipcRenderer } = require('electron');
        const version = document.getElementById('version');
        ipcRenderer.send('app_version');
        ipcRenderer.on('app_version', (event, arg) => {
                ipcRenderer.removeAllListeners('app_version');
                version.innerText = 'Version ' + arg.version;
        });


        ipcRenderer.on('backup_done', (e, data) => {
                $("#backup_alert").html(`Backup done successfully. Locate the file at ${data.directory}.
     Please copy it to a safe location 
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        `);
                $("#backup_alert").fadeIn('fast')



        })

        ipcRenderer.on('backup_time_changed', (e, data) => {

                alert("Automatic backup time changed successfully")


        })

        const notification = document.getElementById('notification');
        const message = document.getElementById('message');
        const restartButton = document.getElementById('restart-button');
        ipcRenderer.on('update_available', () => {
                ipcRenderer.removeAllListeners('update_available');
                message.innerText = 'A new update is available. Downloading now...';
                notification.classList.remove('hidden');
        });
        ipcRenderer.on('update_downloaded', () => {
                ipcRenderer.removeAllListeners('update_downloaded');
                message.innerText = 'Update Downloaded. It will be installed on restart. Restart now?';
                restartButton.classList.remove('hidden');
                notification.classList.remove('hidden');
        });

        function closeNotification() {
                notification.classList.add('hidden');
        }
        function restartApp() {
                ipcRenderer.send('restart_app');
        }

        $(document).ready(function () {
                $(document).on("click", "#start_backup", function () {
                        ipcRenderer.send('startBackup')
                })

                $(document).on("click", "#start_sync", function () {
                        ipcRenderer.send('startSync')
                })

                $(document).on("click", "#save_auto_backup_time_btn", function () {
                        let time = $("#backup_time").val()
                        ipcRenderer.send('change_backup_time', { new_time: time })
                })
        })

</script>