<%- include ('partials/header') -%>
<section  class="content">
    
    <div class="flex-container small-margins">
        <div><a  class="backBtn link"><i class="fa fa-arrow-left"></i> Back</a></div>
        <div><a  href="/"><i class="fa fa-home"></i> Home </a></div>
        <div><a ng-click="getFiles()" class=" link"><i class="fa fa-refresh"></i> Refresh List</a></div>
        <!-- <div><a  href="#"><i class="fa fa-download"></i> Backup Now</a></div> -->
    </div>
    <div class="container">
        <h4>Database backups</h4>
        <div class="card">
            <div class="card-header">
                To restore your system from a previous backup <br> <input type="file" name="zip" id="pickzip"
                    value="Click here to choose a backup file"> 
                <em>Or select the necessary backup from the
                    list below.
                </em>
            </div>
            <div class="card-body">

                <div class="card-body table-responsive">
                    <table id="backup_list" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <td></td>
                                <td>Date</td>
                                <td>Description</td>
                                <td>By</td>
                                <td>Uploaded</td>
                                <td>Db Version</td>
                            </tr>
                        <tbody>
                            
                                <% objects.forEach(function(item){ 
                                        %>
                                        <tr>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                      Menu
                                                    </button>
                                                    <div class="dropdown-menu" >
                                                      <a class="dropdown-item delete" href="#">Delete</a>
                                                      <a class="dropdown-item" href="#">Restore This</a>
                                                    </div>
                                                  </div>
                                            </td>
                                            <td><%= item.created_on %> <span class="itemid starthidden" ><%= item.id%></span> </td>
                                            <td><%= item.description %> </td>
                                            <td><%= item.created_by %></td>
                                            <td><%= item.uploaded %></td>
                                            <td><%= item.db_version %></td>
                                        </tr>
                                
                                <% 
                            }) %>
    
    
                              
    
                        
                            
                        </tbody>
    
                        </thead>
                    </table>
                </div>
                <!-- <table id="backup_list" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td></td>
                            <td>File Name</td>
                            <td>Date Created</td>
                        </tr>
                    <tbody>
                        <tr ng-repeat="x in items">
                            <td>
                                <button class="btn btn-sm btn-warning restore_btn">Restore</button>
                            </td>
                            <td class="filename">{{ x }}</td>
                            <td></td>
                        </tr>
                    </tbody>

                    </thead>
                </table> -->
            </div>
        </div>

    </div>
</section>

<div class="modal fade" id="confirm_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header text-center text-danger">
                <h4>WARNING!</h4>
            </div>
            <div class="modal-body">
                Restoring your database from a backup will erase all current data and replace it with
                the data from the backup. This action cannot be reversed. <br>
                A backup of the current database will be created automatically before the restore operation
                begins. <br>
                Do you want to continue?

            </div>
            <div class="modal-footer">
                <button type="button" id="continue" class="btn btn-success">Yes</button>

                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="loading_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog " role="document">
        <div class="modal-content">

            <div class="modal-body">
                <span id="backing_up" >
                        <i class="fa fa-spin fa-spinner"></i> <span >Creating Backup...</span>

                </span>

                <span id="restoring_up" class="starthidden">
                        <i class="fa fa-spin fa-spinner"></i> <span >Restoring Backup Data</span>

                </span>
                <span id="done" class="text-success starthidden">
                        <i class="fa fa-check-circle"></i> <span >Restore done Successfully!</span>
                    <br>
                    <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                </span>
            </div>

        </div>
    </div>
</div>

<!-- <script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script> -->
<%- include ('partials/footer') -%>

<script>
    //code for sending archive command to main
    const { ipcRenderer } = require('electron');
    const constants = require('../constants');
    const fs = require('fs');

    const path = require('path')
    let selected_file = "";
    let current_action = "";
    ipcRenderer.on('backup_done', (e, data) => {
        $("#current_action").text("Restoring Backup Data.....")
       
        $("#restoring_up").show();
        $("#backing_up").hide();
        $("#done").hide();
        ipcRenderer.send('restore', {filename: selected_file})
    })
    ipcRenderer.on('restore_done', (e, data) => {
        $("#restoring_up").hide();
        $("#backing_up").hide();
        $("#done").show();
     
    });



    // var app = angular.module('myApp', []);
    // app.controller('myCtrl', function ($scope) {
    //     $scope.loading = false;
    //     $scope.items = fs.readdirSync(constants.backup_folder);

    //     $scope.getFiles = function () {
    //         $scope.loading = true;
    //         $scope.items = fs.readdirSync(constants.backup_folder);
    //         $scope.loading = false;
    //         //get the files
    //         // fs.readdir(constants.backup_folder, (err, files) => {
    //         //     $scope.name = files;
    //         //     console.log(files)
    //         //     console.log($scope.items)
    //         //     files.forEach(file => {
    //         //         console.log(file)
    //         //         $scope.items.push(file)
    //         //     });
    //         // });
    //     }
    //     $scope.getFiles();

    //     $scope.restore = function (filename) {
    //         if (window.confirm(`Sure you want to restore your system to the selected version? You cannot reverse 
    //         this action. Click OK to continue, CANCEL to cancel`)) {
    //             ipcRenderer.send('restore', { filename })
    //         }

    //     }
    // });



    $(document).ready(function () {
        $(document).on("click", ".restore_btn", function () {
            $("#confirm_modal").modal("show");
            let filename = $(this).closest("tr").find(".filename").text();
            selected_file = path.join(constants.backup_folder, filename)
        })
        //when a file is selected from the list
        $(document).on('click', "#continue", function () {
            $("#confirm_modal").modal("hide");
            $("#loading_modal").modal({
                backdrop: 'static',
                keyboard: false
            });
            $("#restoring_up").hide();
        $("#backing_up").show();
        $("#done").hide();
            //create backup first
            ipcRenderer.send('startBackup')
        });

        $(document).on('change','#pickzip', function(){
            $("#confirm_modal").modal("show");
            selected_file = document.getElementById("pickzip").files[0].path;
            //get the actual file name
            console.log(selected_file)
        })

        //on
    })

</script>